.navbar, .navbar-expand-lg, .navbar-light {
     background-color: #b83b5e !important;
}


body{
	background-color: #faf2f2;
	overflow: scroll;
}
.jumbotron{
	margin-top: 1rem;
	color:#88304e;
	background-color: #f1d1d1;
}

.response{

	position: absolute;
	top: 94%;
	left:5%;
	width: 900px;
	height: 300px;
	padding: 20px;
}

.forum_body{
	padding: 0% 5%;
}

p, .display-4{
	text-align: center;
}

#logout_button{
	display: none;
}


#topictable{

	position: absolute;
	top: 40%%; 
	left: 5%; 
	width: 90%; 
	background-color: #ff847c;
	text-align: center; 
	color: black;
	
}

#replytable{

position: absolute;
	top:80%; 
	left: 5%; 
	width: 90%; 
	background-color: #ff847c;
	text-align: center; 
	color: black;

}

a{
	color: #900c3f;
	font-weight: bold;
}

th{
	width: 100px;
}

